@page "/Counter"
@using Microsoft.AspNetCore.Identity;
@using Umbraco.Cms.Core.Security;
@inject SignInManager<MemberIdentityUser> SignInManager;
<h3>Counter</h3>
addfdasfda

@*@attribute [Authorize(Roles = "Administrator")]*@
@code{
    protected override async Task OnInitializedAsync()
    {

    }
}


