@page "/Account/ChangePassword"
@inherits RegistrationBase
@layout LoginLayout
@inject NavigationManager NavMgr

@if (!isUpdate)
{
    <div class="form-group">
        <label for="Name">Password</label>
        <input @bind="Password" class="form-control" id="Password" />
    </div>
    <div class="form-group">
        <label for="Age">ConfirmPassword</label>
        <input @bind="ConfirmPassword" class="form-control" id="ConfirmPassword" />
    </div>
    <p>
        @Error
    </p>

    <input type="submit" class="btn btn-primary" value="Update" @onclick="UpdatePassword" />
    <br />
    <br />
}
else
{ <p class="lead">
    Password updat successfully. Please click <a href="/Account/login" class="small">here</a> to login<br>
</p>   
}

@code {
    bool isUpdate = false;
    string Error = "";
    string Password = "";
    string ConfirmPassword = "";

    private void UpdatePassword()
    {
        if (Password == ConfirmPassword)
        {
            isUpdate = true;
        }
        else
        {
            Error = "Password is not same";
        }
    }

}



<style>
    body {
        background-color: gray;
    }

    .page {
        width: 400px;
        margin: 0px auto;
        background-color: white;
        padding: 51px;
        margin-top: 100px;
        border-radius: 6px;
    }

    .btn-primary {
        width: 100%;
    }
</style>