@page "/Account/ResetPassword"
@layout LoginLayout


@if(!isSentLink){
<div class="row">
    <div class="d-flex justify-content-center ">
        <div class="form-login">
            <center>
                <img src="/_assets/images/dooblecheck-logo.png" style="width:180px;">
            </center>
            <br>
            <br>
            <br>

            <h1>Forgot password?</h1>
            <br>
            <input type="email" id="userName" @bind="userName" class="form-control input-sm chat-input" placeholder="email" />
        
            <div class="wrapper">
                <div class="d-grid gap-2">
                    <h4 class="danger" style="padding:10px;">@message</h4>
                    <br />
                    <button class="btn btn-primary" @onclick="ResetLink">Send me reset password link <i class="fas fa-envelope-square"></i></button>
                </div>
                <br>
                <a href="/Account/login" class="small">Login?</a>
            </div>
        </div>
    </div>
</div>
}else{
<div class="card">
    <div class="card-body">
        <h3>Email sent</h3>
        <p class="lead">
            If email was found on the system. You will shortly receive reset password link.<br>
            If you do not receive the email. Email might not be found on the system or the email may have gone to your spam box. <br>
        </p>
        <small>
            In case you have problems to receive reset mail. Please contact support@dooblecheck.com.
        </small>

    </div>
</div>
}

@code {
    string message = "";
    string userName = "";

    bool isSentLink = false;
    private void ResetLink()
    {
        try
        {
            var addr = new System.Net.Mail.MailAddress(userName);
            isSentLink = true;

        } catch (Exception e)
        {
            message = "Invalid Email address";
            isSentLink = false;
        }
    }
}




<style>
    body {
        background-color: gray;
    }

    .page {
        width: 400px;
        margin: 0px auto;
        background-color: white;
        padding: 51px;
        margin-top: 100px;
        border-radius: 6px;
    }

    .btn-primary {
        width: 100%;
    }
</style>